<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
   integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="../stylesheets/forgot-password.css">
</head>

<body>
    <%- messages('messages', locals) %> 
         <div class="container1">
             <div class="row">
                <h1 style="color:#696969;margin-left:25px;">Password Reset</h1>
                 <div class="col-md-6 col-md-10">
                    <div class="formbox">
                        <p class="para">Please enter your e-mail address and we will send you a link to reset your password.</p>
                        <div class="form">
                            <form action="" method="POST">
                                <label><p style="color: #4e657e;font-size:16px;">
                                  E-mail address</p>
                                    <input type="email" placeholder="E-mail address" maxlength="100" 
                                    id="input-email"
                                     class="form-control-edu" data-test-selector="email-input" 
                                    name="email" value="" required autofocus>
                                </label>
                                <br>
                                <br>
                                <button data-test-selector="password-reset-form-submit" 
                                 type="submit" class="wide_button">Click here for reset link</button>
                            </form>                
                        </div>
                    </div>
                 </div>
             </div>
         </div>
    
         <script type="text/javascript">
         </script>