<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/landing.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title> EduConnect
  </title>



  </head>
<body>


    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#myPage">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#services">OUR TEAM</a></li>
            <li><a href="#portfolio">PORTFOLIO</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="text"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li id="text"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         </ul>
        </div>
      </div>
    </nav>




    <div class="jumbotron text-center">
      <h1></h1> 
      <p id="demo"></p>
      <!--
     <div class="typewriter container">
        <h1>Welcome to EduConnect.</h1>
      </div>
    -->
      <p></p><br><br> 
       <button type="button" class="btn btn-info"><div id="get_started"><h3>Get Started</h3></div></button>  
    </div>

    <div class="container"  style="width:100%">    
      <div class="row">

        <div class="col-sm-4">
          <div class="panel" style="width:90%">
            <div class="panel-heading">Team member 1</div>
            <div class="panel-body"><img src="Thumbnail_about.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Team member 1 <br> mail <br> contact </div>
          </div>
        </div>

        <div class="col-sm-4"> 
          <div class="panel " style="width:90%">
            <div class="panel-heading">Team member 2</div>
            <div class="panel-body"><img src="Thumbnail_about.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Team member 2 <br> mail <br> contact</div>
          </div>
        </div>

        <div class="col-sm-4"> 
          <div class="panel" style="width:90%">
            <div class="panel-heading">Team member 3</div>
            <div class="panel-body"><img src="Thumbnail_about.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Team member 3 <br> mail <br> contact</div>
          </div>      
        </div>

      </div>
    </div>
    <br>
   


</body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script></body>

    <script type="text/javascript">
    
     $(document).ready(function(){
      $(window).scroll(function(){
        var scroll = $(window).scrollTop();
          if (scroll > 60) {
            $(".navbar").css("background" , "#1CC1E5`");
           // $(".navbar").css("color" , "black");
            $(".navbar").css("padding" , "10px");
            $(".navbar").css("font-size" , "12px");
          }

          else{
              $(".navbar").css("background" , "#1CC1E5");   
          }
      });
    });

    var i = 0;
    //var txt = 'W|e|l|c|o|m|e| |t|o| |E|d|u|C|o|n|n|e|c|t|.|';
    var txt="Welcome to EduConnect. ";
    var speed = 150;

     $(document).ready(function typeWriter(){
      if (i < txt.length) {
        document.getElementById("demo").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
    });

    </script>

</html>