<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="../stylesheets/reset-password.css">
</head>

<body>

        <%- messages('messages', locals) %> 
        <div class="container2">
            <div class="row">
                <h1 style="color:#696969;margin-left:25px;">Password Reset</h1>
                <div class="col-md-6 col-md-10">
                    <div class="formbox">
                        <p class="para">Please fill in a new password and then submit.</p>
                        <div class="form">
                            <form action="/reset-password/<%= token %>" method="POST">
                               <label><p style="color: #4e657e;font-size:16px;margin-top:5px;">
                                New Password</p>
                                <input type="password" placeholder="New Password" maxlength="100"                                 
                                 class="form-control-edu input-password" data-test-selector="password-input" 
                                name="new_password" value="" required autofocus>
                               </label>
                               <label>
                                <p style="color: #4e657e;font-size:16px;margin-top:5px;">
                                    Confirm new password</p>
                                    <input type="password" placeholder="Confirm new password" maxlength="100"                                     
                                     class="form-control-edu input-password" data-test-selector="password-input" 
                                    name="confirm_password" value="" required autofocus>
                               </label>
                               <br>
                               <br>
                               <button type="submit" class="wide_button">Save and Submit password</button>
                               </form>
                    </div>
                </div>
            </div>
        </div>
       