body {
  background-color: #e6e9ec;
}
.container2 {
  margin-top: 50px;
  margin-left: 625px;
}

.formbox {
  margin-top: 30px;
  border: 1px solid #cfd5da;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;
  height: 420px;
  width: 450px;
  margin-left: -70px;
  text-align: center;
}

.para {
  font-size: 17px;
  padding: 20px;
  margin-top: 10px;
  color: #4e657e;
}

.form {
  margin-top: -20px;
  text-align: left;
  padding-left: 50px;
}

.form-control-edu {
  margin-top: -12px;
  display: block;
  border: 1px solid #ccc;
  border-top-style: solid;
  border-radius: 3px;
  width: 345px;
  height: 45px;
}

.wide_button {
  border-radius: 3px;
  padding: 10px 15px;
  line-height: 1.4;
  font-size: 16px;
  width: 87.5%;
  color: white;
  background-color: blue;
  outline: none;
  border: none;
}

::placeholder {
  color: #a9a9a9;
  padding-left: 10px;
}
